
.signup-heading-div{
    margin-bottom: 20px;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.SignDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
    
}
.SignDiv-Password{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    
}
input::placeholder{
    text-align: center;
}
.SignIn-input {
    width: 250px;
    height: 30px;
    border-top:none ;
    border: none;
    border-bottom: 2px solid black;
    margin: 10px;
    outline: none;
    border-bottom: none;
    padding-left:5px ;
    border-radius: 10px;
    
}
.SignIn-password{
    width: 250px;
    height: 30px;
    border-top:none ;
    border: none;
    border-bottom: 2px solid black;
    margin: 10px;
    outline: none;
    border-bottom: none;
    padding-left:5px ;
    border-radius: 10px;
   

}
.SignIn-input:focus{
    border-bottom: 2px solid violet;
    outline: none;
}
.SignIn-password:focus{
    border-bottom: 2px solid violet;
    outline: none;
}
.SignIn-btn{
    width: 250px;
    border: 1px solid silver;
    background-color: violet;
    outline: none;
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.SignIn-btn:hover{
    background-color: violet;
    color: white;
    cursor: pointer;

}
.forgot-password-div{
    display: flex;
   justify-content: right;
    padding: 0;
    margin: 0px;
}
.forgot-password-link{
    margin-right: 15px;
    font-size: small;
    text-decoration: none;

}

.Or-SignIn{
    margin-bottom: 30px;
}
.signIn-Auth{
    margin-top: 20px;
}
.sign-using-pTag{
    margin: 0px;
    margin-top: 20px;
}