.homeDiv{
  height: 100%;
  
  /* background-color: #FFE6F0; */
}
.homeDiv .roomDiv{
  margin: auto;
  margin-top: 8%;
  background-color: #F8F4FB;
  /* background-color: #E6F7FF; */
 
  
}
.roomio-div{
  background-color: violet;
  padding: 5px;
  border-top-right-radius: 20px;
  
}
.roomio-h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 300;
  color: white;
  margin-left: 10px;
}
.logout-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
 padding: 8px;
  cursor: pointer;
  background-color: #6265F3;
  border: none;
  border-radius: 10px;
  color: white;
  transition: all 0.5s;
 

}
.logout-btn:hover{
    /* background-color: violet; */
    background-color: #6265F3;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.729);
    transition: all 0.5s;
}
.Main-Div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 /* height: 90px; */
 padding: 10px;
  /* background-color:#FFE6F0; */
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 500;
  backdrop-filter:blur(60px);
    box-shadow:0px 0px 30px rgba(227,228,237,0.37);
    border:2px solid rgba(255,255,255,0.18);
}
.logout-div {
  display: flex;
  align-items: center;
  margin:0px 5px;
}
.userImage-div{
  display: flex;
  flex-direction: column;

}
.userImage{
    height: 40px;
    width: 40px;
    margin-top: 6px;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.profile-span{
  visibility:hidden;
  font-size: small;
  /* color: black; */
}
.profile-span:hover{
  visibility: visible;
  font-size: small;
}
h2{
  cursor: pointer;
}
.p{
    color: violet;
    margin: 0px;
    margin-right: 15px;
}
.roomDiv{
  margin-top: 10%;
  padding: 20px;
  border-radius: 5px;
  justify-content: space-around;
  width: max-content;
  box-shadow: 3px 3px 10px black;
}
.roomDiv h2{
  font-family:monospace ;
  color: violet;
}
.roomInput{
  margin-top: 10px;
  width: 200px;
  height: 30px;
  border-radius:5px;
  border: 1px solid #00B5A4;
  border-color: #00B5A4;
  padding-left:20px ;
  
}

.roomInput::placeholder{
  text-align: center;
}
.roomInput:active{
  border:1px solid #6A0DAD;
}
.enterChatBtn{
  padding: 8px;
  color: #6A0DAD;
  background-color: transparent;
  margin: 10px;
 border: 1px solid #6A0DAD;
  border-radius: 7px;
  cursor: pointer;
}
.enterChatBtn:hover{
  background-color: violet;
  color: white;
}