.ChatDiv{
  background-color: #E6E6FA;
}
img {
    border-radius: 50%;
    height: 35px;
    margin-top: 2px;
    border: 2px solid black;
  }
.roomInfoDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:transparent ;
  position: sticky;
  top: 90px;
  left: 0px;
}
.backtoRoomID{
  color: black;
  margin-left: 5px;
}
.roomName{
    margin: 0px;
    padding: 5px;
    border: none;
    font-size: small;
    font-family:sans-serif;  
    color: black;
}
.text {
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-wrap: break-word;
    
  }
  
  .msg {
    display: flex;
    padding: 0px 10px 5px 20px;
    margin: 10px;
    border-radius: 2000px;
    box-shadow: 0 0 10px rgb(164, 164, 164);
    align-items: center;
    justify-content: center;
    
  }
  
  .sent {
    background-color: #395dffcd;
    color: white;
    border-top-right-radius: 100px;
    flex-direction: row-reverse;
    padding: 0px 20px 10px 10px;
    text-align: end;
    float: right;
  }
  
  .received {
    border: 1px solid lightgray;
    background-color: #FAFAFA;
    border-top-left-radius: 100px;
    padding: 0px 20px 10px 10px;
    float: left;
  }
  .userName-i{
    font-size: smaller;
    display: inline-block;
    justify-content: left;
    margin: 0px;
    padding: 1px 10px 0px 5px ;
  }
  .receiver{
   
  
 
    color:red ;
  }
  .userName-Text-Div{
    margin: 0px;
    justify-content: end;
  }
  .sendMsg {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid lightgray;
    margin-left: -5px;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #fafafa;
  }
  
  .msgs {
    margin: 0px 0;
    display: flex;
    flex-direction: column;
   
  }
  .msg-time{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;

  }
  
.send-msg-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    left: 0px;
    bottom: 0px;
    padding-bottom: 5px;
    /* margin-bottom: 5px; */
}
.file-label{
  margin: 0px;
  padding-top: 10px;
  
  
  
}
.send-msg{
    height: 35px;
   
    width: 500px;
  
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    padding-left:20px ;
}
.send-msg::placeholder{
    padding-left:10px ;
}
.msg-send-btn{
    padding: 10px 15px;
    background-color: #6265F3;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    margin-left: 8px;
    border-radius: 12px;
    cursor: pointer;
   
}
/* //file */
input[type='file']{
  display: none;
  margin: 0;
}
.fileUploadDiv{
  display: inline;
  justify-content: center;

  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50% ;
  padding: 3px;
 
}
.file-Label{
  /* padding-top: -15px; */
  
}
.imageFile{
  height: 200px;
  width: 250px;
  background-color:transparent ;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 5px;
  color: black;
  gap: 5px;
  
}
.Imagefile-img{
  height: 100%;
  width: 100%;
object-fit: fill;
margin-top: 4px;
}
  @media (max-width: 775px) {
    .text {
      font-size: 15px;
    }
    .sent {
      padding: 5px 5px 5px 5px;
    }
    .received {
      padding: 5px 5px 5px 5px;
    }
    img {
      height: 35px;
      margin-top: -10px;
    }
    .send-msg{
      width: 380px;
    }
  }
  
  @media (max-width: 500px) {

    .text {
      font-size: 15px;
    }
    .sent {
      padding: 1px 4px 2px 4px;
    }
    .received {
      padding: 1px 4px 2px 4px;
    }
    img {
      height: 30px;
      margin-top: -7px;
      margin-right:2px ;
    }
    .send-msg{
        width: 240px;
    }
  }