.forgot-Div{
    margin-top: 50px;
  
   
}
.leftArrow{
    position: absolute;
    left: 10px;
    top: 50px;
}
.forgot-email{
    height: 25px;
    width: 250px;
    border: 2px solid black;
    margin: 15px;
    margin-top: 0px;
}
.error-msg{
    color: red;
    margin: 0px;
    margin-top: 10px;

}
.Send_Link{
    padding: 5px;
    background-color: rgba(238, 130, 238, 0.801);
    border: none;
    color: black;
    border-radius: 5px;
    cursor:pointer;
}
@media(max-width:480px){
    .forgot-Div{
        margin-top: 50%;
    }
}
